.advantages {
  font-family: var(--primary-font);
}

.orange-circle {
  top: auto !important;
  width: 110% !important;
}

.advantages__subtitle {
  font-size: clamp(6px, 3vw, 5248px);
  font-weight: 900;
  flex-direction: column;
  text-align: center;
}

.advantages__subtitle::before {
  background: url("../img/bg/circle-part1.svg") no-repeat center;
  right: 55%;
}

.advantages__subtitle::after {
  background: url("../img/bg/circle-part2.svg") no-repeat center;
  left: 55%;
  top: 10%;
}

.advantages__subtitle::after,
.advantages__subtitle::before {
  background-size: contain;
  position: absolute;
  content: "";
  width: 65%;
  height: 65%;
}

.advantages__container {
  background: url("../img/bg/materials.svg") no-repeat;
  background-size: cover;
  background-position: 0 -24vw;
  font-size: clamp(6px, 3.5vw, 64px);
  min-height: 172vw;
  text-transform: uppercase;
  transform: translateY(-10vh);
  padding-top: 20vw;
  position: relative;
  text-align: center;
  z-index: -10;
}

.purple-cloud {
  transform: translate(-50%, -30%) !important;
  max-width: 1200px;
  width: 60% !important;
}

.orange-chain {
  transform: translate(-50%, -30%) !important;
}

.advantages__items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-transform: capitalize;
  margin: 6.25rem 0;
}

.item {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.item-block {
  width: 100%;
}

.item img {
  width: 400px;
  height: 250px;
  object-fit: contain;
}

@media (min-width: 1500px) {
  .advantages__container {
    background-position: 0 -40vw;
  }
}

@media (max-width: 768px) {
  .advantages__container {
    background-size: contain;
    background-position: 0 -15vh;
    transform: translateY(-5vh);
  }

  .advantages__items {
    margin: 2rem 0;
    padding: 0 10px;
  }

  .item img {
    height: clamp(20px, 20vw, 150px);
    width: clamp(20px, 30vw, 300px);
  }

  .item .red-text {
    font-size: clamp(12px, 4vw, 64px);
    height: clamp(15px, 12vw, 60px);
    width: clamp(20px, 28vw, 300px);
  }
}
