.intro__side {
  flex-direction: column;
}

.intro__logo {
  width: 250px;
}

.intro__img {
  display: none;
}

.intro__text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  padding: 30px 20px 0 30px;
  font-size: clamp(6px, 2.8vw, 20px);
  width: 98%;
}

.intro__text p:last-of-type {
  margin-top: 10px;
}

.intro-text p {
  width: 90%;
}

.intro__btn {
  margin-bottom: 0 !important;
  margin-left: 10% !important;
  margin-top: auto !important;
  padding: 10px 15px !important;
}

.intro__video {
  width: 30%;
}

@media (min-width: 480px) {
  .intro__text {
    padding: 40px 20px 0 30px;
    font-size: clamp(8px, 3.5, 30px);
  }
}

@media (min-width: 768px) {
  .intro__text {
    padding: 50px 20px 0 40px;
  }

  .intro__text p:last-of-type {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding: 30px 40px;
  }

  .intro__img {
    border-radius: var(--big-radius);
    display: block;
    max-height: 715px;
    width: 30%;
  }

  .intro__text {
    font-size: clamp(8px, 2vw, 32px);
  }
}

@media (min-width: 1200px) {
  .intro__text {
    padding: 50px 50px 0 60px;
  }
}

@media (min-width: 1500px) {
  .intro__text {
    font-size: clamp(8px, 3vw, 35px);
  }
}

@media (max-width: 400px) {
  .intro__btn {
    font-size: 14px !important;
  }
}
